@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

@* <div>
    <h2>@Model.ProductName</h2>
    <p>@Model.Price.ToString("c") TL</p>
    <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
        <i class="fa-solid fa-arrow-right"></i>
        Get Details
    </a>
    <hr />
</div> *@

<div class="col-sm-12 col-md-4 my-2">
<div class="card" style="width: 18rem;">
    <img src="@Model?.ImageUrl" class="card-img-top" alt="Ürün Resmi"/>
    <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@Model.Price.ToString("c") TL</h6>
        <p class="card-text">Ürün açıklaması</p>
        <a asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-primary">
                <i class="fa-solid fa-arrow-right"></i>
            Detaylar
         </a>
        
    </div>
</div>
</div>